.body
{ font: 80%  Helvetica, Arial, sans-serif;
  margin-right: 2em;
  margin-left: 2em;
  line-height: 1.25em;
  color: black; 
  background: white;
}

ol			
{ list-style-type: decimal;
	padding: 0;
	margin: 0;
	margin-left: 1.5em;
}
ul			
{ list-style-type: circle;
	padding: 0;
	margin: 0;
	margin-left: 1.5em;
}
p			{ margin-bottom: 0; }
a			
{ color: red;
	text-decoration: none;
}
a:hover			
{ color: red;
	text-decoration: underline;
}

.page_tbl
{
	border-width:0px;
	border-spacing: 0;
	padding: 0;
	border-collapse: collapse;
	width: 100%;
}

.info_img_cell
{
	background: #A6A6A6 url(images/backs/info_cell_back.gif) repeat-y;
	width: 42px;
}

.setting_cell
{
	background: #A6A6A6;
}

.props_cell
{
	background: #A6A6A6;
	padding: 8px;
}


.tbl_hdr
{
	background: #A6A6A6 url(images/backs/hdr_back.gif) repeat-x;
	vertical-align: middle;
	height: 32px;
	font: bold 100%  Helvetica, Arial, sans-serif;
	margin: 6;
}

.radio_selected
{
	background: #A6A6A6 url(images/backs/line.gif);
	border-bottom: 1px solid white;
	border-right: 1px solid white;
}

.radio_unselected
{
	background: #A6A6A6;
	border-bottom: 1px solid #A6A6A6;
	border-right: 1px solid #A6A6A6;
	cursor: hand;
}

.radio_unselected_over
{
	background: #A6A6A6 url(images/backs/info_cell_back.gif) repeat-y;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	cursor: hand;
}

.btn_checked
{
	background: #A6A6A6 url(images/backs/dot.gif);
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	cursor: hand;
}

.btn_unchecked
{
	background: #A6A6A6;
	border-bottom: 1px solid #A6A6A6;
	border-right: 1px solid #A6A6A6;
	cursor: hand;
}

.btn_unchecked_over
{
	background: #A6A6A6 url(images/backs/info_cell_back.gif) repeat-y;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	cursor: hand;
}

.btn_checked_over
{
	background: #A6A6A6 url(images/backs/dot.gif);
	border-top: 1px solid white;
	border-left: 1px solid white;
	cursor: hand;
}

.speed_btn_over
{
	background: #A6A6A6 url(images/backs/hdr_back.gif) repeat-x;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	cursor: hand;
}

.speed_btn
{
	background: #A6A6A6;
	border-bottom: 1px solid #A6A6A6;
	border-right: 1px solid #A6A6A6;
	cursor: hand;
}

.hidden_tbody
{
	display: none;
}

.bottom_tbl
{
	width: 100%;
	border-width:0px;
	border-spacing: 0;
	padding: 0;
	border-collapse: collapse;
}
